
@{
    ViewData["Title"] = "Search";
}

@model CookApi
@if (@ViewBag.CookTitle != null)
{
    <h1>Найденные рецепты : @ViewBag.CookTitle</h1>
    <div class="row">
		@foreach (var item in @Model.Search)
		{
			<div class="card col-4">
				<img src="@item.Img" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">@item.Name</h5>
					<p class="card-text">@item.Description</p>
				</div>
			</div>
		}

	</div>
    
}
else
{
    <h1> Ничего не нашлось </h1>
}